#sub_pages {
    background-color: lightgreen;
    border: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 3px;
    padding: 2px;
}

.sub_page {
    background-color: green;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 3px;
    padding: 2px;
    margin: 3px;
}

.sub_title {
    font-size: large;
    background-color: white;
    border-bottom: 2px;
    border-bottom-style: solid;
}

a {
    color: white;
    font-family: sans-serif;
}