/*
Only the main and important style write here.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    width: fit-content;
    font-family: system-ui;
}

.board {
    background-color: lightgreen;
    border: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 3px;
    margin: 5px;
    font-family: Consolas;
    width: auto;
    height: auto;
}

.subPage {
    background-color: green;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 3px;
    padding: 2px;
    margin: 3px;
}

.boardContent {
    padding: 2px;
}

.boardTitle {
    font-size: large;
    background-color: white;
    border-bottom: 2px;
    border-bottom-style: solid;
}